.start__block {
  min-width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start__description {
  line-height: 30px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.start__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 60px;
  margin-top: 100px;
  border-radius: 5px;
  background-color: #630000;
  box-shadow: 2px 2px 2px #8e8e8e;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
